.schedule-page {
  /* margin: 20px 38px 34px 38px; */
  /* padding: 0px 0px 88px; */
  border: none;
  /* height: 84vh; */
  /* box-shadow: 0 4px 4px #c7c7c7; */
  overflow: auto;
  border-radius: 8px;
}

.schedule-page::-webkit-scrollbar {
  display: none;
}

.schedule-calendar {
  border-radius: 8px;
  /* padding: 0px 59px !important; */
  background: #fff;
  padding: 0;
  max-width: 899px;
  width: 100%;
}

.calendar-modal .modal-dialog {
  /* width: 604px; */
}

.calendar-modal .modal-dialog .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 490px;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}

.calendar-modal .modal-dialog .modal-content .modal-title {
  color: #e82827;
  font-size: 20px;
  font-weight: bold;
  padding-top: 25px;
}

.calendar-modal .modal-dialog .modal-content .modal-header {
  border-bottom: none;
  padding: 0 16px;
}

.calendar-modal .modal-dialog .modal-content .modal-header .btn-close {
  display: none;
}

#note {
  resize: none;
  border: 1px solid #d4d8dd;
  border-radius: 6px;
  outline: none;
  padding-left: 12px;
  width: 100%;
}

.asterisk {
  display: inline;
  color: #cf365a;
}

.schdinput {
  width: 100%;
  height: 38px;
  border: 1px solid #d4d8dd;
  border-radius: 6px;
  outline: none;
  padding-left: 12px;
}

.schd-date-input {
  width: 100%;
  height: 38px;
  border: 1px solid #d4d8dd;
  border-radius: 6px;
  outline: none;
  padding-left: 12px;
  padding-right: 12px;
}

.schedule-form label {
  margin-bottom: 6px;
  font-size: 12px;
}

.schedule-form input {
  margin-bottom: 5px;
  display: inline;
}

.modal-btn-container button {
  border-radius: 6px;
  width: 90px;
  height: 34px;
  font-weight: 600;
  font-size: 12px;
  margin-top: 15px;
  padding: 8px 14px;
}

.schd-cancel-btn {
  border: 1px solid #e82827;
  background: #fff;
  color: #e82827;
  margin-right: 8px;
}

.schd-submit-btn {
  border: 1px solid #e82827;
  background: #e82827;
  color: #fff;
}

.right-schedule-col {
  background: #fff;
  /* margin-left: 14px; */
  border-radius: 8px;
  padding: 0;
  /* height: 83vh; */
  overflow: auto;
}

.right-schedule-col::-webkit-scrollbar {
  display: none;
}

.right-schedule-header {
  position: relative;
  height: 59px;
  background: #c71e25;
  border-radius: 8px 0 0 0;
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
  position: sticky;
  top: 0;
}

.right-schedule-header button {
  position: absolute;
  bottom: 0;
  width: 91px;
  height: 37px;
  border-radius: 6px 6px 0 0;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid transparent;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s ease;
}

.right-schedule-header button.active-button {
  position: absolute;
  bottom: 0;
  width: 91px;
  height: 37px;
  border-radius: 6px 6px 0 0;
  font-size: 16px;
  font-weight: 600;
  background: #fff;
  border: 1px solid #fff;
  color: #bb2027;
}

.right-schedule-header button:first-child {
  left: 24px;
}

.right-schedule-header button:last-child {
  left: 123px;
}

.event-schedule-content {
  padding: 24px;
}

.today-schedule {
  color: #4b3f72;
  font-weight: 700;
  font-size: 20px;
}

.schedule-event-title {
  font-weight: 600;
  font-size: 14px;
  color: #231f20;
  margin-top: 16px;
  margin-bottom: 8px !important;
}

.schedule-event-container {
  cursor: pointer;
}

.schedule-image-container {
  width: 263px;
  height: auto;
  background: #fde9e9;
  border: 1px solid #f7b7b7;
  padding: 16px;
  border-radius: 6px;
}

.schedule-image-container img {
  margin-right: 8px;
  align-self: flex-start;
  margin-bottom: 10px;
}

.schedule-image-container p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
}

.agenda-schedule-container {
  padding: 0px 20px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.agenda-schedule-container p {
  margin-bottom: 0;
}

.schedule-day {
  font-weight: 500;
  font-size: 12px;
  color: #231f20;
}

.schedule-date {
  font-weight: 700;
  font-size: 20px;
  color: #c12121;
}

.agenda-schedule-title {
  font-weight: 600;
  font-size: 14px;
  color: #231f20;
  margin-bottom: 4px;
}

.agenda-schedule-time {
  font-weight: 400;
  font-size: 14px;
  color: #231f20;
}

.agenda-date {
  width: 27.53px;
  margin-right: 23px;
  align-self: flex-start;
  padding-top: 4px;
}

.agenda-schedule-title {
  margin-bottom: 4px !important;
}

.agenda-title {
  flex: 1;
  display: block !important;
  width: 237.98px !important;
}

.agenda-schedule-content img {
  margin-bottom: 16px;
}

.agenda-titles-container {
  display: flex;
  flex-direction: column;
}

.event-schedule-content,
.agenda-schedule-content {
  max-height: 619px;
}

.fc-toolbar-chunk div {
  display: flex;
  align-items: center;
}

.schedule-form input::placeholder,
.schedule-form textarea::placeholder {
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #7f8a9a;
}

.schedule-form input,
.schedule-form textarea {
  font-weight: 400 !important;
  font-size: 14px !important;
}

.schedule-form input[type="date"]::-webkit-datetime-edit {
  color: #7f8a9a;
}

.schedule-form input[type="date"]::-webkit-datetime-edit {
  color: #7f8a9a;
}

.schedule-form input[type="date"]:focus::-webkit-datetime-edit,
.schedule-form input[type="date"]:valid::-webkit-datetime-edit {
  color: black;
}

.schedule-page .link {
  word-break: break-word;
}

.schedule-page .link:hover {
  text-decoration: underline;
}