.zoom-training {
  margin: 20px 38px 34px 38px;
  padding: 0px 0px 88px;
  border: none;
  border-radius: 8px;
  background: #fff;
  height: 84vh;
  box-shadow: 0 4px 4px #c7c7c7;
  overflow: auto;
}

.zoom-training::-webkit-scrollbar {
  display: none;
}

.zoom-training-header {
  display: flex;
  justify-content: space-between;
  padding: 28px 0 12px 67px;
  position: sticky;
  top: 0;
  background: #fff;
}

.zoom-image {
  max-width: 200px;
  width: 100%;
}


.zoom-content-row {
  border: 1.5px solid #d4d8dd;
  padding: 20px;
  max-width: 1086px;
  min-height: 246px;
  width: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.zoom-training-title {
  max-width: 615px;
}
