.nav-item.whiteTitle .nav-link {
  color: #000 !important;
}

.dropdown-item {
  font-size: 14px;
  font-weight: 500;
  padding: 8px;
}

.nav-link {
  font-size: 14px;
}

.nav-item .dropdown-item:hover {
  background: #fde9e9 !important;
}

.text-dark {
  margin: 0 10px;
}

.nav-item a:focus {
  font-weight: 700;
}

.nav-item.whiteTitle .dropdown-menu.show {
  margin-top: 16px;
  background: #fde9e9;
}

.white-notification-button .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.white-notification-button .dropdown-menu.show {
  margin-top: 11px;
  width: 293px;
  height: auto;
  max-height: 82vh;
  margin-right: 200px;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.15);
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -115px;
  padding-top: 0;
  padding-bottom: 0;
}

.white-notification-button .dropdown-menu.show a:hover {
  background: rgba(232, 40, 39, 0.1);
}

.notification-wrapper {
  position: relative;
  z-index: 1;
}

.dark-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  z-index: 2;
  top: 0;
  left: 0;
}

.whiteTitle .dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0px;
  padding-top: 0;
  padding-bottom: 0;
}

.active {
  font-weight: 700;
}


.white-navbar .container button.navbar-toggler {
  background-color: #fff;
  outline: none;
}

.white-navbar .container button.navbar-toggler:focus {
  box-shadow: none;
}

.white-navbar .container .navbar-collapse.show {
  background-color: #feeaeb;
  margin-top: 0.8rem;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.white-navbar .navbar-toggler.navbar-collapse a.nav-link{
  padding: 8px 10px;
}

.white-navbar .notification-button .dropdown-toggle {
  font-size: 14px;
}



/* .certificate-page nav.white-navbar {
  padding: 0;
} */