.progress-image {
  height: 60px;
  border-radius: 100px;
  margin: 0px
  padding: 5px;
}

.progressImg {
  padding: 0;
}

.progress-bar-row {
  min-height: 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.progress-card-row {
  padding: 10px;
}

.complete {
  display: inline;
  fontSize: 12px;
  fontWeight: 400;
  color: rgba(127, 138, 154, 0.5);
  }

.complete p {
  display: inline;
}

.progressTxt {
  font-size: 14px;
  font-weight: 500;
  margin: auto 0;
  padding: 0;
}
